.addServices form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.addServices form input,
textarea {
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.add-submit {
  background-color: #2cc292;
  border: none;
  color: #fff;
  font-size: 20px;
}

.addServices {
  padding: 150px 0;
}
