.text-custom-color {
  color: #2cc292;
}
.bg-custom-color {
  background-color: #2cc292;
}

.footer-bg {
  background-color: #283a5e;
}

.register-btn {
  background: #2cc292;
}
.text-color {
  color: #283a5e;
}

body {
  padding-top: 120px;
  overflow-x: hidden;
}
